<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://codepen.io/chriddyp/pen/bWLwgP.css">
    <title>Interactive SST Landing Page</title>
</head>

<body>
    {% include 'includes/_navbar.html' %}
    <div style="display: flex; flex-direction: column; width: 50%; margin: 0 auto; margin-top: 5%";> 
        <h3 style="margin:0 auto">Welcome to the SST landing page {{ user }}</h3><br>
        <h6 style="margin:0 auto"><a href="{{ url_for('login_page') }}">Go to login page</a></h6><br>
        <h6 style="margin:0 auto"><a href="{{ url_for('single_sst') }}">Go to single SST curation page</a></h6><br>
        <h6 style="margin:0 auto"><a href="{{ url_for('group_averages') }}">Go to population average SST page</a></h6><br>
        <input type="button" id='logout-button' style="margin: auto; margin-top:20px; width: 100%" value="Logout" onclick="logout()"></input>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    </div>
</body>
</html>