<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://codepen.io/chriddyp/pen/bWLwgP.css">
    <title>SDFs Login Page</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; margin-top: 10%">
        <h4 style="margin: auto">Log in to access the full dataset</h4>
        <div style="margin: auto; width: 40%">
            <label for="username-in">Username:</label>
            <input type="text" id="username-in" name="username-in" placeholder="Username" style="width: 100%"><br>
            <label for="password-in">Password:</label>
            <input type="password" id="password-in" name="password-in" style="width: 100%"><br>
        </div>
        <input type="button" id='login-button' style="margin: auto; margin-top:20px; width: 40%" value="Login" onclick="login()"></input>
        <div style="display: flex; flex-direction: column; margin-top: 20px">
            <p style="margin: auto; margin-top: 20px; font-size: larger">--- OR ---</p>
            <a href="{{ url_for('single_sst') }}" style="margin: auto; font-size: larger">Continue as Guest</a>
        </div>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>