<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://codepen.io/chriddyp/pen/bWLwgP.css">
    <title>Interactive SDFs with Flask</title>
</head>
<body>
    {% include 'includes/_navbar.html' %}
    <div class="row" style="margin-left: 5%">
        <div class="three columns">
            <h5>Conditions</h5>
            <div id="trial-type-checklist">
                <input type="checkbox" id="in-go" value="ingo" checked>
                <label for="in-go" style="vertical-align: top; display:inline-block">In-GO</label><br>
                <input type="checkbox" id="out-go" value="outgo" checked>
                <label for="out-go" style="vertical-align: top; display:inline-block">Out-GO</label><br>
                <input type="checkbox" id="in-ng" value="inng">
                <label for="in-ng" style="vertical-align: top; display:inline-block">In-NOGO</label><br>
                <input type="checkbox" id="out-ng" value="outng" >
                <label for="out-ng" style="vertical-align: top; display:inline-block">Out-NOGO</label><br>
            </div>
        </div>
        <div class="three columns">
            <h5>Array Window</h5>
            <label for="array_xmin_state">T-Min, Array:</label>
            <input type="number" id="array_xmin_state" value=-100>
            <label for="array_xmax_state">T-Max, Array:</label>
            <input type="number" id="array_xmax_state" value=400>
        </div>
        <div class="three columns">
            <h5>Saccade Window</h5>
            <label for="sacc_xmin_state">T-Min, Saccade:</label>
            <input type="number" id="sacc_xmin_state" value=-250>
            <label for="sacc_xmax_state">T-Max, Saccade:</label>
            <input type="number" id="sacc_xmax_state" value=250>
        </div>
    </div>
    <input type="button" value="Update" id="plots_update" style="margin-left: 5%">
    <br>
    <input type="button" value="Submit SST" id="sst_submit" onclick="submitSSTs()" style="margin-left: 5%">

    <div id="hh-plots" class="row" style="margin-left: 5%">
        <div id='hh-array' class='chart arr-plot five columns'></div>
        <div id='hh-sacc' class='chart sacc-plot five columns'></div>
    </div>
    <div id="hl-plots" class="row" style="margin-left: 5%">
        <div id='hl-array' class='chart arr-plot five columns'></div>
        <div id='hl-sacc' class='chart sacc-plot five columns'></div>
    </div>
    <div id="lh-plots" class="row" style="margin-left: 5%">
        <div id='lh-array' class='chart arr-plot five columns'></div>
        <div id='lh-sacc' class='chart sacc-plot five columns'></div>
    </div>
    <div id="ll-plots" class="row" style="margin-left: 5%">
        <div id='ll-array' class='chart arr-plot five columns'></div>
        <div id='ll-sacc' class='chart sacc-plot five columns'></div>
    </div>

</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src="{{ url_for('static', filename='js/population_sst.js') }}"></script>
</html>